Well <%= name %>. How old are you?

<form method = "post" action = "/age">

	<input type = "number"  name = "age">

	<input type = "hidden" name = "input_name" value = <%= name %>>

	<input type = "submit">

</form>